body {
	margin: 15px;
}

div {
	margin-top: 5px;
}

input[type="number"] {
	-moz-appearance: none;
	color: var(--in-content-text-color);
	border: 1px solid var(--in-content-box-border-color);
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-radius: 2px;
	background-color: var(--in-content-box-background);

	font-family: inherit;
	font-size: inherit;
	padding: 5px 10px;

	width: 50px;
}

#length-min {
	margin-right: 10px;
}

input[type="checkbox"] {
	margin-bottom: -7px;
}

#pw {
	border: 2px black solid;
	width: 250px;
}

#copy {
	margin-left: 0px;
}

#exclude {
	width: 183px;
}

.copied {
	pointer-events: none;
	height: 26px;
	width: 100%;
	background-color: #FFF8DC;
	position: absolute;
	padding-right: 0;
	padding-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-right: -15px;
	margin-left: -19px;
	margin-top: -27px;
}

.fadein {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}

.fadeout {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}
